


.top{
	width: 50%;
  height: 50%;
 
}

img{
	width: 48%;
	height: 60%;
	display: flex;
	justify-content: center;
	margin-left: 55%;
  margin-top: 50px;

}

.animate {
    height: 100%;
    width: 100%;
    border: 1px solid #000;
    -webkit-animation: animate_bg 7s;
    animation: animate_bg 7s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes animate_bg {
    0%   {background:pink;}
    33%  {background:#B0C4DE;}
    66%  {background:#FF7F50;}	
    100% {background:#6495ED;}
}

@-webkit-keyframes animate_bg {
    0%   {background:red;}
    33%  {background:green;}
    66%  {background:#FF7F50;}
    100% {background:blue;}
}

.name h3{
	font-family:Rockwell;
	float: none;
	margin-left:23%;
  margin-top: -15%;

}

.name p{
  font-family:Rockwell;
  float: none;
  margin-left: 10%;
  }

.header nav{
  background-color: white;
  border: 1px solid #ddd;
  border-bottom: none;
  border-top: 3px solid #9d9d9d;
  text-overflow: ellipsis;
  max-width: 10em;
  overflow: hidden;
  display: block;
  display: inline;
  margin-top: 10px;
}




ul li{
	   display: block;
    list-style: none;
    display: inline;
    padding-right: 5px;
    margin-left: 100px;
    margin-top: 10px;

}
.fh5co-social-icons ul{
  padding:0px;
}

.fh5co-social-icons li {
  display: inline-block; 
  list-style: outside none none; 
  width: auto;
  font-size: 35px;
  *display: inline;  
  color: #000000; 
  margin-left: 49px;
}


.Aboutme h1{
  clear:both;
  font-family:Rockwell;
  text-align: center;
  margin-top: 35px;
  }

.Aboutme p{
  font-family:Rockwell;
  text-align: center;
  word-spacing: 2px;
  margin-right: 14px;
}

#col-1 {
  position: fixed;
  width: 50%;
  left: 0;
  height: 100%;
  
  z-index: 1010101010
}

#col-2 {
  position: fixed;
  width: 50%;
  left: 50%;
  height: 100%;
  
  z-index: 1010101010
}



